<!DOCTYPE html>
<html>
  <head>
    <title>Socian</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
      window.image = "<%= image_url("socian-logo.png")%>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
