<!DOCTYPE html>
<html>
  <head>
    <title>Socian</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
      window.image = "<%= image_url("socian-logo.png")%>"
      window.big_image = "<%= image_url("kerokero4 (1)-min.jpg")%>"
      window.small_image_1 = "<%= image_url("beach_house.jpg")%>"
      window.small_image_2 = "<%= image_url("op1.jpg")%>"
      window.small_image_3 = "<%= image_url("shore.jpg")%>"
      window.play = "<%= image_url("play.png")%>"
      window.pause = "<%= image_url("pause.png")%>"
      window.heart_empty = "<%= image_url("heart_empty.svg")%>"
      window.heart_filled = "<%= image_url("heart_filled.svg")%>"
    </script>
    <%= favicon_link_tag  asset_path('favicon.ico')  %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
